body {
  background-color: #14191a;
}


.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;

}
ul {
  color: #ffffff;
  list-style: none;
}

li {
  border-style: solid;
  border-color: white;
  width: 5em;
  height: 1em;
  text-align: center;
  background-color: grey;
  margin-left:auto;
  margin-right:auto;
  padding: 1em;
  /* position: relative; */
  /* top: 5em; */
}
